<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Adam Jarzebak</title>
    <meta name="Description" CONTENT="Adam Jarzebak Portfolio, OpenCV, Vision, Image Processing">
    <meta name="author" content="Adam Jarzebak">

    <meta name="robots" content="noindex,nofollow">


    <!-- Favicons
        ================================================== -->

    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static',filename='images/favicon.ico') }}">

    <!-- Bootstrap -->

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='stylesheets/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static',filename='fonts/font-awesome/css/font-awesome.css') }}">


    <!-- Stylesheet
        ================================================== -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='stylesheets/style.css') }}">

{{ analytics }}

</head>

</html>
