{% include "header-min.html" %}

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

{{ analytics }}

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="/">Home<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/#about">About</a></li>
                        <li><a href="/#portfolio">Portfolio</a></li>
                        <li><a href="/#contact">Contact</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="">Artificial Intelligence<span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/ai">Projects</a></li>
                        <li><a href="/digitRecognition">Digit Recognition Demo</a></li>
                        <li><a href="/aidocs">Documentation</a></li>
                    </ul>
                </li>
                <li class="active"><a href="/vision">Final Project</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container" id="main-containter">

    <!--<h1>Birds eye new image analysis using openCV</h1>-->

        <div class="slidecontainer">
        <input type="range" min="1" max="100" value="50" class="slider" id="myRange" orient="vertical">
            <p id="demo"></p>
        </div>


    <script type=text/javascript>

        $SCRIPT_ROOT = {{request.script_root | tojson | safe}};

    </script>


    <div id="video-stream-div">
                <!--<img id="bg" src="{{ url_for('video_feed') }}">-->
`                <img style="width: 100%;" id="bg" src="{{ url_for('motion_detection') }}">

    </div>


    <!--<h1>UNDER CONSTRUCTION!</h1>-->

        <div style="display: none;" id="requests-bar">

        <a id="sendApi" href=#>Change to gray scale</a>

        <a id="sendApi1" href=#>Change to color</a>

    </div>


</div>


<script src="{{ url_for('static', filename='javascripts/jquery.1.11.1.js') }}"></script>
<script src="{{ url_for('static', filename='javascripts/bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename='javascripts/general.js') }}"></script>


</body>
</html>